<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Eco Sway</title>

    <link rel="stylesheet" href="buy2_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Bebas+Neue&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <a href="C:\desktop\Academic\2nd year\Sem 4\EVS\Project\profile1.html"><img class="profile" src="/images/profile.png" alt="Profile" sizes="50px" ></a>

        <div class="alumni-sans-inline-one-regular">ECO SWAY</div>
        <nav>
            <ul class="bebas-neue-regular">
                <li><a href="/">HOME</a></li>
                <li><a href="/buy">BUY</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/donate">DONATE</a></li>
                <li><a href="/volunteer">VOLUNTEERS</a></li>
                <li><a href="/ourservices">OUR SERVICES</a></li>
                <li><a href="/login">SIGN IN</a></li>
            </ul>
        </nav>
        <!-- <div class="profile">
            <img src="/images/profile.png" alt="Profile Picture">
        </div> -->
    </header>
    <section class="about">
        
        <!-- <form id="searchForm" action="/search" method="GET" class="flexRight">
            <button type="submit" class="modernButton">Go</button>  
            <input type="text" id="search" name="search" placeholder="Search...">
        </form> -->
        <div class="Search">
            <form action="https://google.com/search" method="get" class="search-bar">
                <input type="text" placeholder="Search for items" name="q">
            </form>
            <button  type="button" class="search-button">
                <img src="/images/search.png" alt="" width="20">
            </button>
        </div>
        
        <div class="main">
            <div class="content">
               
                <a href="E:\EVS project\product list\product list.html">
                    <button class="stationary">
                        <div>
                                <img src="/images/stationary.jpeg" width="100px" height="100px">
                        </div>
                        <div>
                                <p>Stationary</p>
                        </div> 
                    </button>
                </a>
                

                <a href="E:\EVS project\product list\product list.html">
                    <button class="bag">
                        <div>
                            <img src="/images/bag.jpg" width="100px" height="100px">
                        </div>
                        <div>
                                <p>Bags</p>
                        </div> 
                    </button>
                </a>

                <a href="E:\EVS project\product list\product list.html">
                    <button class="clothes">
                        <div>
                            <img src="/images/clothes.jpg" width="100px" height="100px">
                        </div>
                        <div>
                            <p>Clothes</p>
                        </div>
                    </button>
                </a>

                <a href="E:\EVS project\product list\product list.html"> 
                    <button class="electronics">
                        <div>
                            <img src="/images/tv.jpg" width="100px" height="100px">
                        </div>
                        <div>
                            <p>Electronics</p>
                        </div>
                    </button>
                </a>
                    
                <a href="E:\EVS project\product list\product list.html">        
                    <button class="furniture">
                        <div>
                            <img src="/images/furniture.jpg" width="100px" height="100px"> 
                        </div>
                        <div>
                            <p>Furniture</p>
                        </div>
                    </button>
                </a>
            </div>

            <div class="content1">
                <a href="E:\EVS project\product list\product list.html">
                    <button class="Bottles">
                        <div>
                                <img src="/images/bottles.jpeg" width="100px" height="100px">
                        </div>
                        <div>
                                <p>Bottles</p>
                        </div> 
                    </button>
                </a>

                <a href="E:\EVS project\product list\product list.html">
                    <button class="Vehicle">
                        <div>
                                <img src="/images/vehicle.jpeg" width="100px" height="100px">
                        </div>
                        <div>
                                <p>vehicle</p>
                        </div> 
                    </button>
                </a>

                <!-- <a href="E:\EVS project\product list\product list.html">
                    <button class="Vehicle">
                        <div>
                                <img src="" width="100px" height="100px">
                        </div>
                        <div>
                                <p></p>
                        </div> 
                    </button>
                </a> -->

            </div>
        </div>     
        
    </section>

    <footer>
        <div class="contact">
            <p>Contactus:</p>
            <p>Phone: 987654321</p>
            <p>Email: es@gmail.com</p>
            <p>Insta: eco.sway_24/7</p>
        </div>
    </footer>


    <script src="script.js"></script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
        window.botpressWebChat.init({
            "composerPlaceholder": "Chat with bot",
            "botConversationDescription": "This chatbot was built surprisingly fast with Botpress",
            "botId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
            "messagingUrl": "https://messaging.botpress.cloud",
            "clientId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "webhookId": "957a4411-a57e-4d91-bded-b67b61632c5c",
            "lazySocket": true,
            "themeName": "prism",
            "frontendVersion": "v1",
            "showPoweredBy": true,
            "theme": "prism",
            "themeColor": "#0d0101"
        });
      </script>
      
</body>
<style>
    
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #488B8F;
    background-color: #FAF9F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    
}
.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    background-color: #488B8F;
    color: #C9FDD7;
    padding: 10px 20px;
    font-size: 25px;
    padding-right: 100px;
    padding-left: 100px;
}
header * {
    color: #C9FDD7; /* Change this to the original color */
}
footer{
    background-color: #488B8F;
    color: #C9FDD7;
    /* padding: 10px 20px; */
    font-size: 16px;
    padding-right: 180px;
    padding-left: 180px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
}

.profile{
    width: 55px;
    height: 55px;
    padding-top:5px;
    text-align: right;
    float: right;
}

.about {
    padding: 0px 150px;
    text-align: justify;
    
}

.about p{
    line-height: 2;
}

.about h1 {
    color: #488B8F;
    font-family: 'Lufga', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}

.container {
    font-size: 0;
}

.box {
    width: 175px;
    height: 200px;
    border-radius: 20px;
    background-color: #ADD2C9;
    display: inline-block;
    margin-right: 60px; 
    font-size: 16px; 
    
}
.box:last-child {
     margin-right: 0;
}

.Search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.search-bar {
    width: 100%;
    max-width: 800px;
    height: 24px;
    background: #ADD2C9;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

}

.search-button {
    padding: 12px 12px;
    background-color: #ADD2C9;
    color: white;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-weight: bold;
    font-size: large;
}

::placeholder {
    color: #488B8F;
    font-size: large;
}


.tag-container{
     font-size: 0;
}
.tag{
    max-width: 750px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #488B8F;
    background-color: #ADD2C9;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap; 
}

.content{
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    gap:120px;
    margin-top: auto;
    
}
.content1{
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    gap:120px;
    margin-top: auto;
    align-items: center;   
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.stationary,.bag ,.clothes,.electronics,.furniture,.Bottles,.Vehicle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 100%;
        border: 2px solid #488B8F; 
        padding:5px;
    }
}

.stationary img:hover,
.bag img:hover,
.clothes img:hover,
.electronics img:hover,
.furniture img:hover,
.Bottles:hover,
.Vehicle:hover {
    border-color: #35555A; 
    border-width: 3px;
}



button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: #ADD2C9;
}

button div {
    margin-bottom: 5px;
}
</style>
</html>