<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Eco Sway</title>
    <link rel="stylesheet" href="volunteer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#"><img class="profile" src="images/profile.png" alt="Profile" sizes="50px"></a>
        <div class="alumni-sans-inline-one-regular">ECO SWAY</div>
        <nav>
            <ul class="bebas-neue-regular">
                <li><a href="/">HOME</a></li>
                <li><a href="/buy">BUY</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/donate">DONATE</a></li>
                <li><a href="/volunteer">VOLUNTEERS</a></li>
                <li><a href="/ourservices">OUR SERVICES</a></li>
                <li><a href="/login">SIGN IN</a></li>
            </ul>
        </nav>
    </header>
    <section class="about">
        
        <div class="main_class">
            <h1 style="color: black;">Clothes Box Foundation</h1>
              <div class="img">
                   <div class="img-class">
                   <img class="img" src="https://clothesboxfoundation.org/wp-content/uploads/2021/09/ab1.png"  width=400px;
                   height=300px;>
                   </div>
              </div>
              <div class="info">
                <p>
                    Clothes Box Foundation started in 2014 to help the victims lacking relief amenities, with a significant focus on clean clothing.

                   With time we realized that millions of people residing in the underdeveloped areas of our country lack access to clean clothing. So, we decided to change that by using the power of social media and connect the haves and have nots.

                  What started as a conscious thought became a significant turning point for us. As we grew, we received thousands of clothes in donations that were unfit to be used, which led us to establish our in-house recycling facility – Refresh.
                    
                </p>
              </div>

              <div class="details">
                <div class="detail-1">
                    <div class="contact">
                        <p>Contact: 78383-71356</p>
                    </div>
                    <div class="email">
                        <p>Email: info@clothesboxfoundation.org</p>
                    </div>
                </div>
                <div class="button">
                    <div>
                        <button style="color:aliceblue; font-weight: bold;" onclick="openImage()">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>
            




            <div class="main_class">
                <h1 style="color: black;">Shuddhi</h1>
                  <div class="img">
                       <div class="img-class">
                       <img class="img" src="https://shuddhi.org/uploads/3/4/7/9/34791871/kerala-flood-releif-2018-shuddhi-ngo-delhi-india_orig.jpg"  width=400px;
                       height=300px;>
                       </div>
                  </div>
                  <div class="info">
                    <p>
                        This NGO has many distinct areas that it functions in. This organisation is a non-profit that works in education, 
                        wildlife, healthcare, environment, disaster relief, and water. They recently in collaboration with Barclays, conducted a
                        cleanliness drive over the Yamuna River. They have also conducted many cleanliness drives along the beaches in Mumbai. 
                        Over 1043 cleanliness drives have been conducted by this wonderful organisation, they did this with over 217 volunteers
                        and you can be one of them. Their aim is to create a cleaner, safer and better environment for the coming generations.
                        There are varied projects and you can volunteer for the same by selecting them on their website. 
                    </p>
                  </div>
    
                  <div class="details">
                    <div class="detail-1">
                        <div class="contact">
                            <p>Contact: 022-71574415</p>
                        </div>
                    </div>
                    <div class="button">
                        <div>
                            <button style="color:aliceblue; font-weight: bold;">Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_class">
                <h1 style="color: black;">Nelda</h1>
                <div class="img">
                    <div class="img-class">
                        <img id="mainImage" class="img" src="https://nelda.org.in/wp-content/uploads/2022/08/editor_img_2022-04-20_03-29-57_WbGDqnawHTl13xzE.jpg" width="400px" height="300px">
                    </div>
                </div>
                <div class="info">
                    <p>
                        Nelda means champion in the Irish language and a person who lives by alder trees. Our founder, Vedarth Deshpande started 
                        Nelda with a mission to give back to the community of Pune and the earth. All of us at Nelda have made it our mission to 
                        plant as many trees as possible and make this world a greener place.
                        With that idea in mind, Project Nelda was launched in the year 2016 with a plan to help increase the green cover of Pune 
                        and help maintain the balance of urban ecosystems. Although we have been doing this for many years, the volunteers that we
                        have are not enough if we are to make a worthwhile change. We need more people to help us and support our aim to influence
                        the plantation of a billion trees by 2041.
                        Tree plantation might not be the total solution to climate change, but it surely helps create a greener and much healthier 
                        future. When you talk about tree plantation, it’s not rocket science. All you need is an expert and a knowledgeable team to 
                        get things done at the right time. And that is what Nelda can help with.
                    </p>
                </div>
            
                <div class="details">
                    <div class="detail-1">
                        <div class="contact">
                            <a href="https://nelda.org.in/contact/">Contact Here</a>
                        </div>
                        <div class="email">
                            <p>Email: contact@nelda.org.in</p>
                        </div>
                    </div>
                    <div class="button">
                        <div>
                            <button style="color:aliceblue; font-weight: bold;" onclick="openImage()">Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            


            <div class="main_class">
                <h1 style="color: black;">WOTR</h1>
                  <div class="img">
                       <div class="img-class">
                       <img class="img" src="https://cdn.dribbble.com/userupload/4684538/file/original-52418fa6dea4b3741a3c317e3e06bc5a.jpg?resize=752x"  width=400px;
                       height=300px;>
                       </div>
                  </div>
                  <div class="info">
                    <p>
                        Established in 1993, WOTR is an internationally recognised non-profit organisation and think tank that engages at the 
                        intersection of practice, knowledge and policy across scales and in collaboration with various stakeholders across sectors.
                         WOTR’s goal is to ensure water and food availability, along with livelihoods and income security – to support the 
                         sustainable growth and well-being of vulnerable and disadvantaged communities in rural India.

                        WOTR has been working with rural communities in India for 3 decades now. As of September 2023, it has touched the lives 
                        of over 6.93 million across 7124 villages in 10 states of India – Maharashtra, Telangana, Andhra Pradesh, Madhya Pradesh, 
                        Jharkhand, Odisha, Rajasthan, Chhattisgarh, Bihar and Karnataka. It has included participants from 63 countries in 
                        training and exposure programmes. On the ground over 2.64 million hectares of degraded landscapes/watersheds have been
                        regenerated, over 158 billion litres of potential water harvesting capacity has been created and agriculture productivity 
                        has increased significantly with a 121% increase in area under triple cropping. Farm incomes in most project villages are 
                        2 to 4 times more than those in control villages. Moreover, it has facilitated over  21,500 SHGs involving 2,52,829 women.
                    </p>
                  </div>
    
                  <div class="details">
                    <div class="detail-1">
                        <div class="contact">
                            <p>Contact: +91 20 24226211</p>
                        </div>
                        <div class="email">
                            <p>Email: info@wotr.org</p>
                        </div>
                    </div>
                    <div class="button">
                        <div>
                            <button style="color:aliceblue; font-weight: bold;">Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main_class">
                <h1 style="color: black;">Pratham Education Foundation</h1>
                  <div class="img">
                       <div class="img-class">
                       <img class="img" src="https://3.bp.blogspot.com/-AEvXhThN9Ig/UFg13iP8E6I/AAAAAAAAASM/Hq1s1WtW1cU/w1200-h630-p-k-no-nu/400820_387057888030001_1303070193_n.jpg"  width=400px;
                       height=300px;>
                       </div>
                  </div>
                  <div class="info">
                    <p>
                        A highly-qualified alumna of the Delhi School of Economics, Oxford and Chicago universities, Rukmini Banerji worked 
                        as a programme officer at the Spencer Foundation, Chicago for several years before returning to India in 1996. Currently, 
                        she is chief executive of the Delhi-based Pratham Education Foundation (estb. 1994), Indias pioneer and premier education
                         NGO that was co-founded by Madhav Chavan 22 years ago. Excerpts from an email interview with Banerji:To work on scale to
                          improve the basic literacy and numeracy skills of children; create low-cost, replicable programme models that can impact
                           policy and practice at the Central and state government levels; raise awareness about the importance of children’s 
                           learning outcomes among all stakeholders in education, and provide vocational and skills training leading to job
                            opportunities for youth from socio-economically disadvantaged backgrounds.
                    </p>
                  </div>
    
                  <div class="details">
                    <div class="detail-1">
                        <div class="contact">
                            <p>Contact:  01126716083</p>
                        </div>
                        <div class="email">
                            <p>Email:  info@pratham.org</p>
                        </div>
                    </div>
                    <div class="button">
                        <div>
                            <button style="color:aliceblue; font-weight: bold;">Donate Now</button>
                        </div>
                        
                    </div>
                </div>
            </div>
                
        
        
    </section>
    <footer>
        <div class="contact">
            <p>Contact us:</p>
            <p>Phone: 987654321</p>
            <p>Email: es@gmail.com</p>
            <p>Insta: eco.sway_24/7</p>
        </div>
    </footer>
    <script src="script.js"></script>
    
    <script>
        // Function to generate and display the QR code image
        function generateQR() {
            // Create a new image element for the QR code
            var qrImg = document.createElement("img");
            qrImg.src = "E:\EVS project\ngo\QR.jpg"; // Replace "path_to_your_folder/QR.jpg" with the path to your QR code image
            qrImg.classList.add("qr-img");
            
            // Get the container where the QR code will be appended
            var container = document.querySelector(".img-class");

            // Append the QR code image to the container
            container.appendChild(qrImg);

            // Show the QR code image
            qrImg.style.display = "block";
        }
    </script>
     <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
        window.botpressWebChat.init({
            "composerPlaceholder": "Chat with bot",
            "botConversationDescription": "This chatbot was built surprisingly fast with Botpress",
            "botId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
            "messagingUrl": "https://messaging.botpress.cloud",
            "clientId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "webhookId": "957a4411-a57e-4d91-bded-b67b61632c5c",
            "lazySocket": true,
            "themeName": "prism",
            "frontendVersion": "v1",
            "showPoweredBy": true,
            "theme": "prism",
            "themeColor": "#0d0101"
        });
      </script>
      

</body>
<style>
    body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #488B8F;
    background-color: #FAF9F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    
}
.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    background-color: #488B8F;
    color: #C9FDD7;
    padding: 10px 20px;
    font-size: 25px;
    padding-right: 100px;
    padding-left: 100px;
}
header * {
    color: #C9FDD7; /* Change this to the original color */
}

.our_services{
    display:flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 20px;
}

.part1,.part2{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-bottom: 30px;
}

.buy_sell,.donation,.volunteer,.benifit{
    width: 50%;
    height:50%;
    border: 1px solid #000000; 
    padding: 20px;
    border-radius: 20px;

    h3{
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}























footer{
    background-color: #488B8F;
    color: #C9FDD7;
    /* padding: 10px 20px; */
    font-size: 16px;
    padding-right: 180px;
    padding-left: 180px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
}

.profile{
    width: 55px;
    height: 55px;
    padding-top:5px;
    text-align: right;
    float: right;
}

.about {
    padding: 0px 150px;
    text-align: justify;
    
}

.about p{
    line-height: 2;
}

.about h1 {
    color: #488B8F;
    font-family: 'Lufga', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}

.paragraph{
    background-color:#ADD2C9;
    padding:30px;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    
}
</style>
</html>
