
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Eco Sway</title>


    <link rel="stylesheet" href="about_us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Bebas+Neue&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <a href="#"><img class="profile" src="images/profile.png" alt="Profile" sizes="50px" ></a>

        <div class="alumni-sans-inline-one-regular">ECO SWAY</div>
        <nav>
            <ul class="bebas-neue-regular">
                <li><a href="/">HOME</a></li>
                <li><a href="/buy">BUY</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/donate">DONATE</a></li>
                <li><a href="/volunteer">VOLUNTEERS</a></li>
                <li><a href="/ourservices">OUR SERVICES</a></li>
                <li><a href="/login">SIGN IN</a></li>
            </ul>
        </nav>
        <!-- <div class="profile">
            <img src="/images/profile.png" alt="Profile Picture">
        </div> -->
    </header>

    <section class="about">
        <h1 style="margin-bottom:50px">Welcome to ECO SWAY</h1>

        <div class="all">
        
        <div class="main">
            <div class="our-mission">
                  <h2>Our Mission: Fostering Connections for Positive Impact</h2>
            </div>
        
            <div class="content">
                    <p>
                       At EcoSway, we are driven by a deep-rooted belief in the power of collective action to create meaningful change.
                        We understand that the challenges facing our planet require collaborative efforts from all corners of society. 
                       That's why our platform serves as a dynamic nexus, bringing together NGOs, passionate individuals, and resources in a unified 
                      mission to safeguard our environment and build a sustainable future. 
                   </p>
            </div>
        </div>

          <div class="main">
          <div class="content">
               <p>
                 In a world where the need for environmental stewardship has never been more urgent, EcoSway acts as a vital conduit, seamlessly
                 connecting those who are dedicated to making a difference with opportunities to do so. Whether you're an NGO striving to protect 
                 endangered ecosystems, a community organization working to address climate change at the grassroots level, or an individual with 
                 a desire to contribute your time, skills, or resources, EcoSway provides the infrastructure and support to amplify your impact. 
               </p>
            </div>

            <div class="heading">
                <h2>Building Bridges, Driving Change</h2>
           </div>
        </div>



        <div class="main">
            <div class="heading">
                <h2>Empowering Collaboration</h2>
            </div>
        
            <div class="content">
                    <p>
                        Our platform facilitates actual interactions and partnerships that surpass geographical barriers and organisational silos, 
                        going beyond basic transactions. NGOs can connect with a wide range of supporters through EcoSway who are willing to provide their 
                        knowledge, resources, and assistance. In a similar vein, people are free to choose meaningful methods to get involved 
                        with issues that interest them, including direct donations, volunteer work, or knowledge and skill sharing. 
                   </p>
            </div>
        </div>

        <div class="main">
            <div class="content">
                 <p>
                    We understand that solving environmental issues calls for a diversified strategy. Because of this, EcoSway offers a variety of 
        participation opportunities, ranging from conventional philanthropy to creative fixes like the trade of used goods. We support the 
        circular economy and lessen our influence on the environment by encouraging the concepts of reduce, reuse, and recycle.
                 </p>
              </div>
  
              <div class="heading">
                <h2>A Holistic Approach to Sustainability</h2>
             </div>
          </div>

    </div>

    <div class="join_us">
        <h2 style="color: black;">Join the EcoSway Community</h2>
        <div class="new_join_us">
            <div class="img">
                <img src="https://tse1.mm.bing.net/th?id=OIP.qwqB5_WDSPEBUyM1kuN3mgHaFj&pid=Api&P=0&h=180" width="200px" height="200px">
            </div>
            <div class="join_us_content">
                <p>
                    At EcoSway, we invite you to be part of a movement that transcends individual interests and embraces the collective responsibility we share 
                    for the health and well-being of our planet. Together, we can turn the tide on environmental degradation and forge a more sustainable and equitable
                     world for future generations.
                </p>
            </div>
        </div>
    </div>     

    <div class="info">
    <a href="/rrr" class="button">
        <button style="color: white;">INFORMATION ON RRR</button>
    </a>
</div>
</div>
    




    </section>

    <footer>
        <div class="contact">
            <p>Contact us:</p>
            <p>Phone: 987654321</p>
            <p>Email: es@gmail.com</p>
            <p>Insta: eco.sway_24/7</p>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Chat with bot",
      "botConversationDescription": "This chatbot was built surprisingly fast with Botpress",
      "botId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
      "webhookId": "957a4411-a57e-4d91-bded-b67b61632c5c",
      "lazySocket": true,
      "themeName": "prism",
      "frontendVersion": "v1",
      "showPoweredBy": true,
      "theme": "prism",
      "themeColor": "#0d0101"
  });
</script>
</body>
<style>
    body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #488B8F;
    background-color: #FAF9F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    
}
.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    background-color: #488B8F;
    color: #C9FDD7;
    padding: 10px 20px;
    font-size: 25px;
    padding-right: 100px;
    padding-left: 100px;
}
header * {
    color: #C9FDD7; /* Change this to the original color */
}


.about{
    margin-bottom: 50px;
}


.main {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    width:98%;
    height: 20%; 
    gap: 40px;
    resize: vertical;
    margin-bottom: 18px;
    padding: 25px;
    box-shadow: 1px 10px 10px rgba(44, 116, 98, 0.3); 
}

.heading{
    width:40%;
    justify-content: left;
}

.content{
    width:60%;
}

.our-mission{
    width: 30%;
}


.join_us {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    padding: 40px; 
    border-radius: 50%;
    max-width: 100%; 
    margin: 0 auto;
    margin-bottom: 10%;
    box-shadow: 1px 10px 10px rgba(44, 86, 72, 0.3); 
}

.join_us h2 {
    margin-bottom: 20px; 
}

.join_us p {
    text-align: center; 
}

.new_join_us{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 50px;
}

.join_us {
    text-align: center;
    margin-bottom: 20px;
}

.new_join_us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    margin-right: 20px;
}

.join_us_content {
    max-width: 500px; 
}

.join_us_content p {
    text-align: justify;
}
.button {
    background-color: rgb(105, 75, 181);
    border-radius: 30px;
    color: white;
    padding: 10px 20px; 
    text-decoration: none; 
    margin-bottom: 50px;

    button{
        background-color: rgb(105, 75, 181);
    
    border: none;
    }
}

.button:hover {
    background-color: #624597; 
}

.info {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
}

footer{
    background-color: #488B8F;
    color: #C9FDD7;
    font-size: 16px;
    padding-right: 180px;
    padding-left: 180px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
}

.profile{
    width: 55px;
    height: 55px;
    padding-top:5px;
    text-align: right;
    float: right;
}

.about {
    padding: 0px 150px;
    text-align: justify;
        margin-bottom: 150px; 
    
    
}

.about p{
    line-height: 2;
}

.about h1 {
    color: #488B8F;
    font-family: 'Lufga', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #488B8F;
    color: #C9FDD7;
    padding: 10px 20px;
    font-size: 16px;
    padding-right: 180px;
    padding-left: 180px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
</style>
</html>
