<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurServices | Eco Sway</title>


    <link rel="stylesheet" href="OurServices_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Bebas+Neue&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <a href="#"><img class="profile" src="images/profile.png" alt="Profile" sizes="50px" ></a>

        <div class="alumni-sans-inline-one-regular">ECO SWAY</div>
        <nav>
            <ul class="bebas-neue-regular">
                <li><a href="/">HOME</a></li>
                <li><a href="/buy">BUY</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/donate">DONATE</a></li>
                <li><a href="/volunteer">VOLUNTEERS</a></li>
                <li><a href="/ourservices">OUR SERVICES</a></li>
                <li><a href="/login">SIGN IN</a></li>
           </ul>
        </nav>
        <!-- <div class="profile">
            <img src="profile.png" alt="Profile Picture">
        </div> -->
    </header>

    <section class="about">
        <h1 >Our Services</h1>


    <div class="our_service_description">
       <div class="part1">
            <div class="buy_sell">
                <h3><u>Buying and Selling Second-Hand Goods</u></h3>
                <p>
                    Eco Sway offers a diverse and ever-changing marketplace where individuals can buy and sell second-hand goods. From clothing and accessories to
                    electronics, home decor, and more, our platform provides a convenient and sustainable alternative to traditional retail. By giving pre-loved items a
                    second life, we're reducing waste and minimizing our environmental impact, one transaction at a time.
                </p> 
            </div>
            <div class="donation">
                   <h3><u>Donations to NGOs</u></h3>
                  <p>
                     In addition to buying and selling, Eco Sway facilitates donations to NGOs and charitable organizations. Whether you have items you no longer need or are simply 
                     looking to make a positive impact, our platform makes it easy to donate to worthy causes. From clothing drives to household goods collections, 
                     every donation helps support those in need and contributes to building stronger, more resilient communities.
                  </p>
            </div>
       </div>

       <div class="part2">
                <div class="volunteer">
                     <h3><u>Volunteer Opportunities</u></h3>
                     <p>
                        Looking to make a difference beyond your purchases? Eco Sway offers volunteer opportunities for individuals who want to give back and make a positive impact
                        in their communities. Whether it's helping with donation drives, organizing community events, or participating in environmental cleanup efforts, there are countless
                        ways to get involved and contribute your time and talents to worthy causes.
                     </p>
                </div>
                <div class="benifit">
                       <h3> <u>Transperancy in Transaction</u></h3>
                       <p>
                        Looking to make a difference beyond your purchases? Eco Sway offers volunteer opportunities for individuals who want to give back and make a positive
                        impact in their communities. Whether it's helping with donation drives, organizing community events, or participating in environmental cleanup efforts, there are
                       countless ways to get involved and contribute your time and talents to worthy causes.
                       </p>
                </div>
       </div>
    </div>















    


<h2><strong></strong></h2>

<h2><strong></strong></h2>
     
       </p>
    </section>

    <footer>
        <div class="contact">
            <p>Contact us:</p>
            <p>Phone: 987654321</p>
            <p>Email: es@gmail.com</p>
            <p>Insta: eco.sway_24/7</p>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
        window.botpressWebChat.init({
            "composerPlaceholder": "Chat with bot",
            "botConversationDescription": "This chatbot was built surprisingly fast with Botpress",
            "botId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
            "messagingUrl": "https://messaging.botpress.cloud",
            "clientId": "1c5abb33-4d5b-4c43-aec2-671c3c597d25",
            "webhookId": "957a4411-a57e-4d91-bded-b67b61632c5c",
            "lazySocket": true,
            "themeName": "prism",
            "frontendVersion": "v1",
            "showPoweredBy": true,
            "theme": "prism",
            "themeColor": "#0d0101"
        });
      </script>
      
</body>
<style>
    body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #488B8F;
    background-color: #FAF9F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    
}
.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    background-color: #488B8F;
    color: #C9FDD7;
    padding: 10px 20px;
    font-size: 25px;
    padding-right: 100px;
    padding-left: 100px;
}
header * {
    color: #C9FDD7; /* Change this to the original color */
}

.our_services{
    display:flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 20px;
}

.part1,.part2{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-bottom: 30px;
}

.buy_sell,.donation,.volunteer,.benifit{
    width: 50%;
    height:50%;
    border: 1px solid #000000; 
    padding: 20px;
    border-radius: 20px;

    h3{
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}























footer{
    background-color: #488B8F;
    color: #C9FDD7;
    /* padding: 10px 20px; */
    font-size: 16px;
    padding-right: 180px;
    padding-left: 180px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
}

.profile{
    width: 55px;
    height: 55px;
    padding-top:5px;
    text-align: right;
    float: right;
}

.about {
    padding: 0px 150px;
    text-align: justify;
    
}

.about p{
    line-height: 2;
}

.about h1 {
    color: #488B8F;
    font-family: 'Lufga', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}

.paragraph{
    background-color:#ADD2C9;
    padding:30px;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    
}
</style>

</html>